
body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 94vh;
  background-color: #596571;
}

.description,.rooms{
  padding-top: 30px;
  width: 800px;
  background-color: #24292e;
  padding-bottom: 30px;
  color: beige;
  padding-left: 30px;
}


.upper{
  background-color: gray;
}

.btn-secondary{
  color: beige;
}

.title{
  color: beige;
  font-size: 20px;
}

.button2{
  width: 100px;
}
