<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><a href="" class="homeHref">Отель "Кобринка"</a></h1>
      </div>
      <div class="col-md-3" *ngIf="authService.isAuthenticated()">
        <div class="block1" *ngIf="authService.isAdmin()">
          <a href="/add-room" class="createRoom">Дабавить комнату</a>
          <a href="/requests" class="createRoom">Список запросов</a>
        </div>
        <div class="block2" *ngIf="authService.isUser()">
          <a href="/add-request" class="createRoom">Дабавить запрос</a>
        </div>
      </div>
      <div class="col-md-3" *ngIf="authService.isAuthenticated()">
        <a href="/profile" class="profile btn btn-default">Профиль</a>
        <button class="logout btn btn-default" (click)="logout()">Выйти</button>
      </div>
      <div class="col-md-3" *ngIf="!authService.isAuthenticated()">
        <a href="/login" class="loginHref">Войти</a>
        <a href="/register" class="signUpHref">Регистрация</a>
      </div>
    </div>
  </div>
</div>
