.profileForm{
  padding-top: 30px;
  width: 800px;
  background-color: #24292e;
  padding-bottom: 30px;
}


body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 94vh;
  background-color: #596571;
}

.upper{
  background-color: gray;
}

.title{
  padding-top: 20px;
  color: beige;
}

.btn-secondary{
  color: beige;
}

.btn-secondary:focus{
  background-color: black;
}

.name,.email,.status{
  color: beige;
  font-size: 20px;
}

.button{
  width: 385px;

 }
