.regForm {
  width: 500px;
  height: 430px;
  background-color: #24292e;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 94vh;
  background-color: #596571;
}

.form-group{
  background-color: gray;
}

.form-group:focus{
  background-color: black;
}

.form-control{
  background-color: beige;
}

.btn-secondary{
  color: beige;
}

.btn-secondary:focus{
  background-color: black;
}

.title{
  padding-top: 20px;
  color: beige;
}


